<div class="row">
  <div class="col-md-6">
    <div class="well well-sm">
      <h4 class="">User Detail</h4>
      <br>
      <div *ngIf="formReady">
        <label>User Name</label> <label *ngIf="user.id">(User ID: {{user.id}})</label>
        <input type="text" class="form-control" [(ngModel)]="user.username"/>
        <label>First Name</label>
        <input type="text" class="form-control" [(ngModel)]="user.firstName"/>
        <label>Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="user.lastName"/>
        <label>Password</label>
        <input type="text" class="form-control" [(ngModel)]="user.password"/>
        <br>
        <button type="button" class="btn btn-default" (click)="submit()">Submit</button>
      </div>
    </div>
    <div *ngIf="!formReady">
      <span>Loading...</span>
    </div>
  </div>
</div>