<div class="container">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2"><strong>Email</strong></div>
        <div class="col-md-3"><strong>First Name</strong></div>
        <div class="col-md-3"><strong>Last Name</strong></div>
        <div class="col-md-2"><strong>Phone</strong></div>
        <div class="col-md-2"></div>
      </div>
    </li>
    <li class="list-group-item" *ngFor="let user of users">
      <div class="row">
        <div class="col-md-2">{{user.email}}</div>
        <div class="col-md-3">{{user.first}}</div>
        <div class="col-md-3">{{user.last}}</div>
        <div class="col-md-2">{{user.phone}}</div>
        <div class="col-md-2">
          <button type="button" class="btn btn-info" (click)="goToUserDetail(user.id)"><span class="glyphicon glyphicon-edit"></span></button>
          <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
      </div>
    </li>
  </ul>
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-standard" (click)="goToUserDetail('add')">+</button>
    </div>
  </div>
</div>
